.canvas {
  position: absolute;
  object-fit: fill;
  transform: rotateY(180deg);
}

.tmpCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: fill;
  transform: rotateY(180deg);
  z-index: 999;
  border: 2px solid #0f0;
  /* display: none; */
}
.palmDetected {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  font-size: 3em;
  background: green;
  color: white;
  padding: 20px;
  border-radius: 20px;
}
